html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .runway{
    position: relative;
}

.sky{
    height:40%;
    background: darkblue;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 750px 750px, 550px 550px, 450px 450px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px, 110px 200px;
}
.runway{
    height: 15%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.grass{
    background: seagreen;
    height:10%;

}
.lines{
    box-sizing: border-box;
    border: 6px dashed #fff;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 45%;
}
.cloud{
    position: absolute;
}
.cloud:nth-child(5){
    width:200px;
    top:120px;
    opacity: 0.5;
    animation-name: windspeed;
    animation-duration: 55s; animation-fill-mode: both;
    animation-iteration-count: infinite;    
    animation-timing-function: linear;
}

.cloud:nth-child(2){
    width:350px;
    top:0px;
    opacity: 0.8;
    animation-name: windspeed;
    animation-duration: 66s; animation-fill-mode: both;
    animation-iteration-count: infinite;    
    animation-timing-function: linear;
}
.cloud:nth-child(3){
    width:570px;
    top:300px;
    opacity: 0.9;
    animation-name: windspeed;
    animation-duration: 120s; animation-fill-mode: both;
    animation-iteration-count: infinite;    
    animation-timing-function: linear;
}

.cloud:nth-child(4){
    width:1000px;
    top:1px;
    opacity:0.3;
    animation-name: windspeed;
    animation-duration: 133s; animation-fill-mode: both;
    animation-iteration-count: infinite;    
    animation-timing-function: linear;
}
.moon{
    position: absolute;
    width:200px;
    top:70px;
    animation: windspeed 200s both infinite linear;
}
.bird{
    background-image: url("img/bird-cells.svg");
    background-size: auto 100%;
    width:55px;
    height:125px;
    will-change:background-position;
    animation-name: fly-cycle;
    animation-timing-function:steps(10);
    animation-iteration-count: infinite;
    animation-duration:1s;
    animation-delay:-0.5s;
}
.bird-container{
    position: absolute;
    top:20%;
    left:-10%;
    transform: scale(0);
    translateX:(-10vw);
    will-change: transform;
    animation-name: fly-right;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-delay: 1s;

}
.cuphead{
    height:75%;
    position: absolute;
    left: 0px;
    top: -80px;
    animation: ride 8s both infinite ease-out, landing 8s infinite linear;
}
.mugman{
    height:50%;
    position: absolute;
    left: 0px;
    top: -17.5%;
    animation: ride 7s both infinite ease-out reverse, takeoff 7s infinite cubic-bezier(.42,-0.02,.99,.76);
}

/*//KEYFRAMES//*/

@keyframes ride{
    0%{left:0px} 
    100%{left:100%};
}
@keyframes windspeed{
    from{left: -500px}
    to{left:100%};
}
@keyframes takeoff{
    0%{top:-17%}
    30% {top:-17%}
    90% {top:-190%}
    100%{top: -200%};
}
@keyframes landing{
    0%{top:-280%}
    50%{top:-80px}
    60%{top:-120px}
    70%{top:-80px}
    100%{top:-80px}
    }
@keyframes fly-cycle{
    100%{
        background-position:-900px 0;
    }
}
@keyframes fly-right{
    0%{transform:scale(0.3) translateX(-10vw);}
    10%{transform: translateY(2vh) translateX(10vw) scale(0.4)}
    20%{transform: translateY(0vh) translateX(30vw) scale(0.5)}
    30%{transform: translateY(4vh) translateX(50vw) scale(0.6)}
    40%{transform: translateY(2vh) translateX(70vw) scale(0.6)}
    50%{transform: translateY(0vh) translateX(90vw) scale(0.6)}
    60%{transform: translateY(0vh) translateX(110vw) scale(0.6)}
    100%{transform: translateY(0vh) translateX(110vw) scale(0.6)}

}