body {
    background: lightblue;
    text-align: center; /*move the content to centre*/
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.circle{
    width:200px; /*size of circle*/
    padding:100px 0;
    line-height: 0;
    margin: 60px auto; /*top and bottom margin 60px, left right is calculated by browser*/ 
    background: white;
    color: black;
    border-radius:100px;
    cursor: pointer;
    transition: background 2s, transform 0.3s 2s ease-out;
}
.circle:hover{
    background: black;
    color:white;
    font-size: 200%;
    font-weight: bolder;
    transform: rotate(360deg);
    text-decoration: overline underline;
}